<!DOCTYPE html>
<html>
  <head>
    <title>javascript Example</title>
         <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
         <script>
               $(document).ready(function(){
                    alert("hello vaered");
               });
         </script>
  </head>
<body>


<h1>Users#new</h1>
<%= form_for(@user) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.submit 'submit' %>
<% end %>

</body>
